.App {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}

.App .column {
  width: 30%;
}

.droppable-col {
  width: 100%;
  background-color: #007cba;
  padding: 10px 10px 0 10px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 10px;
  background-color: #007cba;
  color: white;
  border: 1px solid white;
  padding: 5px;
  border-radius: 7px;
  width: 100%;
}
.item-highlighted {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 10px;
  background-color: red;
  color: white;
  border: 1px solid white;
  padding: 5px;
  border-radius: 7px;
  width: 100%;
}
.item-suggestion {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 10px;
  background-color: green;
  color: white;
  border: 1px solid white;
  padding: 5px;
  border-radius: 7px;
  width: 100%;
}

.item.dragging {
  background-color: coral;
}
